.list-box-main-container {
  background: var(--white-color);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: flex;
  padding: 1rem;
  margin: 0.5rem;
  &:hover {
    background-color: rgba(67, 29, 147, 0.06);
    z-index: 1000;
    cursor: pointer;
  }
  .list-box-left-container {
    display: flex;
    gap: 1rem;
    width: 70%;
    align-items: flex-start;
    .heading {
      display: flex;
      gap: 1rem;
      margin-bottom: 0.5rem;
      h4 {
        font-weight: 400;
        font-size: 20px;
        color: var(--primary-color);
      }
    }
    .time-elapsed {
      font-weight: 400;
      font-size: 16px;
      color: var(--disabled);
    }
    .description {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: var(--disabled);
    }
    .chips {
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      > div {
        background-color: #f4f4f4;
        span {
          font-weight: 400;
          font-size: 14px;
          color: #828282;
        }
      }
    }
  }
  .divider {
    margin: 0;
    opacity: 0.1;
    border: 1px solid #000000;
  }
  .list-box-right-container {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .count-section {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
    }
    .data-section {
      [data-pull-count] {
        display: block;
        font-size: 14px;
        color: #000000;
      }
      [data-time-span] {
        font-weight: 400;
        font-size: 12.04px;
        color: #677285;
      }
    }
  }
}

.count-box-main {
  //   margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    display: block;
  }
  [data-main-text] {
    color: var(--primary-color);
    font-weight: 400;
    font-size: 20px;
  }
  [data-sub-text] {
    font-weight: 400;
    font-size: 12px;
    color: #828282;
  }
}
